.row
  .col-sm-4.col-sm-offset-4
    h1.text-center = t('devise.custom.unlocks.resend_unlock_instructions')

    hr
    = bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      = f.email_field :email, autofocus: true
      = f.submit t('devise.custom.unlocks.resend_unlock_instructions'), class: 'btn btn-primary btn-block btn-lg'

    .text-center
      = render 'devise/shared/links'
