= render 'shared/admins/box', title: t('admin.pages.election_groups.public_organizations.index.title') do

  h3 = @election_group.name

  table#election-groups-orgs.table.table-striped.table-bordered.table-hover
    thead
      tr
        th ID
        th = t('activerecord.attributes.public_organization.name')
        th = t('activerecord.attributes.public_organization.social_network')
        th = t('admin.pages.election_groups.public_organizations.index.affiliated_candidates')
        th = t('admin.buttons.actions')
    tbody
      - @orgs.each.with_index(1) do |org, index|
        tr[id="tr-election-group-org-#{org.id}"]
          td = index
          td = org.name
          td
            a[href="#{org.social_network}" target="_blank"] = org.social_network
          td = affiliated?(org, @election_group)
          td
            = link_to '', id: "btn-org-affiliation-#{org.id}",
                    data: { toggle: 'modal', target: "#publicOrganizationAffiliationModal#{org.id}" } do
              | #{t('admin.pages.election_groups.public_organizations.index.change_type')}
        = render 'shared/modal', id: "publicOrganizationAffiliationModal#{org.id}", title: org.name do
          = bootstrap_form_with model: [:admins, @election_group, org], method: :patch, html: { id: "org-affiliation-modal-#{org.id}" } do |f|
            = f.label t('admin.pages.election_groups.public_organizations.edit.choose_affiliated_candidates')
            = f.select :candidate_ids, @election_group.elections.includes(:candidates).map(&:candidates).flatten.collect { |c| ["#{c.name}, #{c.info}", c.id] },
                    {include_blank: false, include_hidden: false, skip_label: true},
                    class: 'select2-org-candidates', multiple: 'multiple'
            = f.submit t('admin.buttons.save'), class: 'btn btn-primary'
