- @general_details[:paginated_stations].each do |station|
  tr
    td = station.name
    td = station.full_address
    td.text-center
      = link_to results_election_district_station_path(@election, @district, station) do
        i.fa.fa-info.text-info
