= render 'shared/elections_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .col-wrapper
      p.col-title = @election.name
      p.col-text = @district.scopeable.full_name

      .row
        .col-12
          #results-district-stations-map.stations-map
        .col-12.text-center
          button.button.button-primary.mv-6#district-results-show-stations Показать на карте
        .col-12
          .stations-map-placemarks-info.description
            p.paragraph-small.red-icon
              span.text-danger = "#{t('pages.stations.index.placemark_titles.red')} "
              | –
              = " #{t('pages.results.districts.show.placemark_titles.red')}"
            p.paragraph-small.gray-icon
              span.text-secondary = "#{t('pages.stations.index.placemark_titles.gray')} "
              | –
              = " #{t('pages.results.districts.show.placemark_titles.gray')}"

      .row.mv-16
        .col-sm-12.p-0
          .download-results-link.mb-2
            = link_to t('pages.buttons.download_results'),
                    results_election_district_path(@election, @district, format: :xlsx),
                    class: 'custom-link'

      - if @general_details[:stations_with_correct_protocols_count] < ENV.fetch('MIN_STATIONS_COUNT_REQUIRED').to_i
        = render 'upload_protocol'

      .row.mv-16
        .col-sm-12.p-0
          p.col-title.col-sub-title Сводная информация
        .col-sm-12.p-0
          table.table
            tr
              td
                | Всего УИКов
              td.text-right
                strong = @general_details[:district_stations_count]
            tr
              td
                | Посчитано УИКов
              td.text-right
                strong = @general_details[:stations_with_correct_protocols_count]
            tr
              td
                | Избирателей всего
              td.text-right
                strong = @results.total_voters_count
            tr
              td
                | Явка избирателей, %
              td.text-right
                strong = @results.active_voters_count.zero? ? '0 %' : "#{(100 * @results.active_voters_count.to_f/@results.total_voters_count).round(2)} %"
            tr
              td
                | Избирателей проголосовавших
              td.text-right
                strong = @results.voted_count
            tr
              td
                | Кол-во испорченных бюллетеней
              td.text-right
                strong = @results.total_invalid_bulletins

        .col-sm-12.p-0
          p.col-title.col-sub-title Распределение голосов
        .col-sm-12.p-0
          table.table
            thead
              tr
                th Кандидат
                th Голоса
                th.text-right %
            tbody
              - @results.candidates_votes.each do |candidate, votes_count|
                tr
                  td = candidate
                  td
                    strong = votes_count
                  td.text-right
                    strong = votes_count.zero? ? votes_count.to_f : (100 * votes_count.to_f / (@results.voted_count - @results.total_invalid_bulletins)).round(2)

        - local_areas = @general_details[:local_areas]
        - regions = @general_details[:regions]
        - if local_areas.present?
          .col-sm-12.p-0.mb-3
            p.col-title.col-sub-title Показать протоколы по региону
            - if regions.present?
              .mv-6
                = form_with url: results_election_district_path(@election), method: :get, local: false, id: 'results-select-region-form' do |f|
                  = f.hidden_field :election_id, value: @election.id, id: 'election-id'
                  = f.hidden_field :district_id, value: @district.id, id: 'district-id'
                  = f.select :region_id, options_for_select(regions.map { |r| [r.name, r.id] }),
                          {include_blank: 'Не выбрано', skip_label: true, selected: @general_details[:region]&.id },
                          id: 'results-select-region',
                          class: 'mb-1'
                  = f.select :local_area_id, options_for_select(local_areas.map {|l| [l.name, l.id]}),
                          {include_blank: 'Не выбрано', skip_label: true, selected: @general_details[:local_area]&.id},
                          id: 'results-select-local-area'
                  .mv-6.text-center
                    = f.submit I18n.t('pages.results.elections.show.choose_district_submit'), class: 'button button-primary'
            - else
              .mv-6
                = form_with url: results_election_district_path(@election), local: false, method: :get do |f|
                  = f.select :local_area_id, options_for_select(local_areas.map { |l| [l.name, l.id] }),
                          {include_blank: 'Не выбрано', skip_label: true, selected: @general_details[:local_area]&.id},
                          id: 'results-select-local-area'
                  .mv-6.text-center
                    = f.submit I18n.t('pages.results.elections.show.choose_district_submit'), class: 'button button-primary'

        .col-sm-12.p-0
          p.col-title.col-sub-title Список УИКов
        .col-sm-12.p-0
          table.table
            thead
              tr
                td
                  strong Номер
                td
                  strong Адрес
                td
                  strong Протоколы
            tbody#result-stations-table-body
              = render 'paginated_stations'

        .col-sm-12.p-0
          #results-stations-pagination
            = render 'pagination'
