.row.d-flex.justify-content-center.hp-10
  .col-sm-6.no-padding
    .col-wrapper.pos-rel
      .observers-info-block
        .observers-count.block-left.pos-rel
          .observers-info-value.info-value.color-green = @observers_count
          .gray-line.observers-line
          .observers-info-text.info-text.color-gray = t('pages.home.index.observers_count')
        .certified-observers-count.block-right.pos-rel
          .certified-observers-info-value.info-value.color-green = @certified_observers_count
          .gray-line.certified-observers-line
          .certified-observers-info-text.info-text.color-gray = t('pages.home.index.certified_observers_count')
        .stations-count.block-left.pos-rel
          .stations-info-value.info-value.color-green = @uncovered_stations_count
          .gray-line.stations-line
          .stations-info-text.info-text.color-gray = t('pages.home.index.uncovered_stations_count')
        .invitation-text.color-green.mv-20-auto = t('pages.home.index.waiting_for_you')

        = link_to t('pages.buttons.start'), stations_path, class: 'btn-white-link btn button button-primary block-center btn-start'

      h5.title-size-24.mb-3.text-center.color-gray = t('pages.home.index.show_stations')

      .stations-region-selector-block.pos-rel.block-center
        label.stations-placeholder.inline-placeholder[for="dashboard_region_id"] = t('pages.stations.index.choose_region')
        select.selector.selector-primary.mv-12.stations-region-selector[name="region" id="dashboard_region_id"]
          - @regions.each do |region|
            option[value="#{region.id}"] = region.name
        button.btn.btn-filter-stations-coverage.button.button-primary.block-center = t('cabinet.buttons.apply')

      .col-wrapper
        .stations-map.mv-12#stations_info_map
        .stations-map-placemarks-info.description
          p.paragraph-small.red-icon
            span.text-danger = "#{t('pages.stations.index.placemark_titles.red')} "
            | –
            = " #{t('pages.home.index.red_icon')}"
          p.paragraph-small.gray-icon
            span.text-secondary = "#{t('pages.stations.index.placemark_titles.gray')} "
            | –
            = " #{t('pages.home.index.gray_icon')}"
          p.paragraph-small.green-icon
            span.text-success = "#{t('pages.stations.index.placemark_titles.green')} "
            | –
            = " #{t('pages.stations.index.placemark_info.green_icon')}"
