= render 'shared/root_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .ph-16
      ul#profile-menu.d-flex.justify-content-between.p-0.m-0
        li#observer-info.nav-item.flex-fill.pv-10.active
          span Актуальные данные
        li#personal-info.nav-item.flex-fill.pv-10
          span Личные данные

.row#observer-section
  .col-sm-12
    .row.d-flex.justify-content-center
      .col-sm-6.p-2
        .col-wrapper
          .row
            .col-sm-12
              p.col-title = t('cabinet.users.profiles.show.title')
              hr
              small Наблюдатель может загружать результаты в день выборов
            .col-sm-12
              = link_to 'Посмотреть полное описание роли', '', class: 'custom-link'
    .row.d-flex.justify-content-center
      .col-sm-6.p-2
        .col-wrapper
          p.col-title = t('cabinet.users.profiles.show.observer_station')
          hr
          - if @current_station.present?
            p.col-text = @current_station.election_group.name
            p.col-text = @current_station.name
            p.col-text
              | #{t('activerecord.attributes.station.address')}: &nbsp
              span.address = @current_station.address
              span.region-local-area = ", #{@current_station.local_area.name}, #{@current_station.region.name}"
            p.col-text
              = link_to t('cabinet.users.profiles.show.deattach_station'),
                      observers_station_path(@observers_station),
                      method: :delete,
                      data: {confirm: t('cabinet.buttons.deattach_station')},
                      class: 'custom-link'
          - else
            div.mb-3 = t('cabinet.users.profiles.show.no_station')
            = link_to stations_path, class: 'button button-full-width button-secondary d-block' do
              | Выбрать участок на карте

    .row.d-flex.justify-content-center
      .col-sm-6.p-2
        .col-wrapper
          p.col-title = t('cabinet.users.profiles.show.observer_certificate')
          hr
          #observer-certificate
            - if @observers_station.present?
              .observer-org.d-flex.justify-content-between
                .observer-org-title.col-text = t('cabinet.users.profiles.show.organization')
                .observer-org-name.col-text = current_user&.public_organization&.name || t('cabinet.users.profiles.show.no_organization')
              .certification-status.d-flex.justify-content-between
                .observer-status-title.col-text = t('cabinet.users.profiles.show.observer_status')
                .observer-status.col-text = t("activerecord.attributes.observers_station.certification_status.#{@observers_station.certification}")
              - if @observers_station.rejected?
                .certificate-rejection-reason-title.col-text = t('activerecord.attributes.observers_station.rejection_reason')
                .certificate-rejection-reason.col-text = @observers_station.rejection_reason
              hr
              .checking-info.d-flex.flex-row.justify-content-between
                .certificate-checking-info.col-text = t('cabinet.users.profiles.show.certificate_checked')
                .coordinator-info
                  .coordinator-name.col-text = @observers_station.accreditor&.full_name
                  .coordinator-phone.col-text = @observers_station.accreditor&.phone
              hr
              .certificate
                .certificate-block.d-flex.justify-content-between.mb-3
                  - if @current_station.present?
                    .certificate-title.col-text = t('activerecord.attributes.observers_station.certificate')
                    .upload-certificate-link
                      = link_to t('pages.buttons.upload'),
                              profile_path,
                              data: {toggle: 'modal', target: '#uploadCertificateModal'},
                              class: 'custom-link'
                      = render 'shared/modal', title: t('cabinet.users.profiles.show.upload_certificate'), id: 'uploadCertificateModal' do
                        = bootstrap_form_with model: [@observers_station], method: :patch do |f|
                          = f.hidden_field :station_id, value: @current_station.id
                          .selector-wrapper
                            = f.select :public_organization_id,
                                    @orgs.collect { |o| [o.name, o.id] }.push([t('cabinet.public_organizations.other'), nil]),
                                    {include_blank: false, include_hidden: false, selected: current_user.public_organization ? current_user.public_organization.id : @orgs.first.id},
                                    class: 'selector'
                          .custom-file-browse
                            = f.file_field :certificate
                          label.checkbox-wrapper
                            input.checkbox-custom[name="observers_station[certification_request]" type="checkbox" checked]
                            span.checkmark
                            | Отправить запрос на получение удостоверения
                          .certification-info-block
                            a.certification-info-link.custom-link[href="#{ENV['OBSERVER_CERTIFICATION_INFO_LINK']}" target="_blank"]
                              = t('pages.stations.show.link_certification_info_page')
                          .text-center
                            = f.submit t('admin.buttons.send'), class: 'button button-primary submit_observers_station'
                  - elsif @observers_station.certificate.present?
                    .certificate-title.col-text = t('activerecord.attributes.observers_station.certificate')
                    .upload-certificate-link
                      = link_to t('pages.buttons.delete'),
                              delete_certificate_observers_station_path(@observers_station),
                              method: :delete,
                              data: {confirm: t('pages.buttons.delete_certificate')},
                              class: 'custom-link'
                  - else
                    div.mb-3 = t('cabinet.users.profiles.show.no_certificate')
                .certificate-image
                  - if @observers_station.certificate.present?
                    = link_to @observers_station.certificate.url, class: 'custom-link' do
                      = image_tag(@observers_station.certificate.url, width: '100%', height: 'auto', class: 'd-block w-100')
            - else
              div.mb-3 = t('cabinet.users.profiles.show.no_certificate')
.row#personal-section[style="display: none;"]
  .col-sm-12
    .row.d-flex.justify-content-center
      .col-sm-6.p-2
        .col-wrapper
          = bootstrap_form_tag url: profile_path, remote: true, html: {id: 'user_profile_form'} do |f|
            .row
              .col-sm-12.mv-12
                .input-wrapper
                  label.input-placeholder Имя
                  input.input.row-input[type="text" name="first_name" id="user_profile_first_name" value="#{current_user.first_name}"]
              .col-sm-12.mv-12
                .input-wrapper
                  label.input-placeholder Фамилия
                  input.input.row-input[type="text" name="last_name" id="user_profile_last_name" value="#{current_user.last_name}"]
              .col-sm-12.mv-12
                .input-wrapper
                  label.input-placeholder Email
                  input.input.row-input[type="text" name="email" id="user_profile_email" value="#{current_user.email}"]
              .col-sm-12.mv-12.text-center
                = f.submit 'Сохранить', id: 'submit_user_profile', class: 'button button-primary button-disabled'
