.row
  .col-sm-4.col-sm-offset-4
    h2.text-center = t('devise.custom.confirmations.resend_instructions')

    = bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      = f.email_field :email, autofocus: true, class: 'form-control', label: :email,
              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      = f.submit t('devise.custom.confirmations.resend_instructions'), class: 'btn btn-primary btn-lg btn-block'

    .text-center
      = render 'devise/shared/links'
