.cabinet-body
  .users-header
    h3 #{t('cabinet.pages.users.edit.title')}

  = bootstrap_form_with model: [:cabinet, @user], html: { id: "edit_org_user_#{@user.id}" } do |f|
    = f.text_field :first_name
    = f.text_field :last_name
    = f.submit t('cabinet.buttons.save')
