.cabinet-body
  .users-header.pb-3
    h3 #{t('cabinet.pages.users.index.title')}
    div = link_to 'Добавить координатора', new_cabinet_user_path, id: 'new_org_user'

  div
    table.table.table-stripped
      thead
        th ID
        th = t('activerecord.attributes.user.full_name')
        th Email
        th = t('activerecord.attributes.user.role')
        th = t('admin.buttons.actions')
      - @users.each.with_index(1) do |user, index|
        tr[id="tr-org-user-#{user.id}"]
          td = index
          td = user.full_name
          td = user.email
          td = t("activerecord.attributes.user.role_types.#{user.role}")
          td
            = link_to edit_cabinet_user_path(user), id: "btn-edit-user-#{user.id}", class: 'btn btn-warning mr-1'
              i.fa.fa-pencil
            = link_to cabinet_user_path(user), method: :delete, id: "btn-remove-user-#{user.id}", class: 'btn btn-danger', data: {confirm: t('cabinet.buttons.delete_confirm')}
              i.fa.fa-trash
