.cabinet-body
  .users-header
    h3 #{t('cabinet.pages.users.new.title')}

  = bootstrap_form_with model: [:cabinet, @coordinator], html: { id: 'new_observer' } do |f|
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_field :email, required: true
    = f.submit t('cabinet.buttons.save')
