.row.d-flex.justify-content-center
  .col-md-6.col-sm-6.col-wrapper
    h1.text-center = t('devise.custom.passwords.change_password')
    hr
    = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!

      = f.hidden_field :reset_password_token
      = f.password_field :password, label: t('devise.custom.passwords.new_password'), autofocus: true, autocomplete: 'off'
      = f.password_field :password_confirmation, label: t('devise.custom.passwords.confirm_new_password'), autocomplete: 'off'
      .form-group.d-flex.justify-content-center
        = f.submit t('devise.custom.passwords.change_password'), class: 'button button-primary'
