.row.d-flex.justify-content-center
  .col-md-6.col-sm-6.col-wrapper
    h1.text-center = t('devise.custom.passwords.forgot_password')
    hr
    = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      = f.email_field :email, hide_label: true, autofocus: true, placeholder: 'Email'
      .form-group.d-flex.justify-content-center
        = f.submit t('devise.custom.passwords.send_reset_instructions'), class: 'button button-primary'
