= bootstrap_form_with model: [:admins, election] do |f|
    = f.select :election_group_id, ElectionGroup.order(:name).collect {|eg| [eg.name, eg.id]},
            {include_blank: 'Не выбрано', include_hidden: false}, required: true, id: "election-group-#{election.id}"
    = f.text_field :name, required: true, id: "election-name-#{election.id}"
    = f.date_field :date, required: true, id: "election-date-#{election.id}", class: 'election_date'
    = f.file_field :districts
    = f.file_field :candidates
    = f.check_box :pinned
    br
    = f.submit "#{election.new_record? ? t('admin.buttons.add') : t('admin.buttons.save')}",
            class: 'btn btn-primary submit_new_election'
