= render 'shared/admins/box', title: t('admin.pages.elections.index.title') do
  = link_to t('admin.pages.elections.index.buttons.create'), '', id: 'open-new-elections-modal', class: 'btn btn-primary', data: { toggle: 'modal', target: '#new-election' }

  table#elections.table.table-striped.table-bordered.table-hover
    thead
      tr
        th ID
        th = t('admin.pages.elections.index.election_group')
        th = t('activerecord.attributes.election.name')
        th = t('activerecord.attributes.election.date')
        th = t('admin.pages.elections.index.checkboxes.ready')
        th = t('activerecord.attributes.election.pinned')
        th = t('admin.buttons.actions')
    tbody
      - @elections.each do |election|
        tr[id="election-row-#{election.id}"]
          td = election.id
          td = election.election_group.name
          td = link_to election.name, admins_election_path(election)
          td = l(election.date, format: :full_month)
          td[id="td-election-ready-#{election.id}"] = election_ready?(election)
          td[id="td-election-pinned-#{election.id}"]
            = check_box_tag('election-pinned', '', election.pinned,
                    id: "election-pinned-#{election.id}",
                    class: 'election-pinned-checkbox',
                    data: {pinned: election.pinned, id: election.id})
          td.actions
            = link_to '', id: "btn-edit-election-#{election.id}", class: 'btn btn-warning', data: { toggle: 'modal', target: "#edit-election-#{election.id}"}
              i.fa.fa-pencil
            = link_to [:admins, election], method: :delete, id: "btn-remove-election-#{election.id}", class: 'btn btn-danger', data: { confirm: t('admin.buttons.delete_confirm') }
              i.fa.fa-trash
        = render 'shared/modal', id: "edit-election-#{election.id}", title: 'Редактировать выборы' do
          = render 'form', election:  election

= render 'shared/modal', id: 'new-election', title: 'Создать выборы' do
  = render 'form', election: Election.new
