= render 'shared/admins/box', title: @election.name do
  = render 'shared/admins/election_nav', election: @election

  .election-content
    table.table-borderless
      tbody
        tr
          td = t('admin.pages.elections.index.election_group')
          td = @election.election_group.name
        tr
          td = t('activerecord.attributes.election.date')
          td = l(@election.date, format: :full_month)
        tr
          td = t('admin.pages.elections.index.checkboxes.ready')
          td = election_ready?(@election)
        tr
          td = t('activerecord.attributes.election.pinned')
          td
            = check_box_tag('election-pinned', '', @election.pinned,
                    id: "election-pinned-#{@election.id}",
                    class: 'election-pinned-checkbox',
                    data: {pinned: @election.pinned, id: @election.id})


