.button {
  color: #fff;
  text-transform: uppercase;
  height: 56px;
  width: 100%;
  max-width: 319px;
  padding: 15px 0;
  text-align: center;
  border: none;
  box-shadow: 0 0 8px 0 rgba(199,199,199,0.5), 0 2px 4px 0 rgba(153,153,153,0.5);
  border-radius: 4px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.button-full-width {
  max-width: 100%;
}

.social-button {
  border: 1px solid #CFCFCF;
  color: #818181;
  box-shadow: none;
  position: relative;

  &:hover {
    color: darken(#818181, 10%);
    border-color: darken(#CFCFCF, 10%);
  }
}

.social-button-icon {
  position: absolute;
  left: 12px;
}

.button-primary {
  background-color: #5D952F;
  border: none;
  color: #fff;

  &:hover {
    background-color: darken(#5D952F, 10%);
    color: #fff;
    text-decoration: none;
  }
}

.button-secondary {
  background-color: transparent;
  border: 1px solid #5D952F;
  color: #5D952F;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    border-color: darken(#5D952F, 10%);
    color: darken(#5D952F, 10%);
    text-decoration: none;
  }
}

.button-md {
  display: inline-block;
  width: 165px;
  max-width: 165px;
  height: 56px;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
  border-radius: 4px;
}

.button-disabled {
  pointer-events: none;
  background-color: #EAEAEA;
  color: #9E9E9E;
  box-shadow: 0 0 8px 0 rgba(199,199,199,0.5), 0 2px 4px 0 rgba(153,153,153,0.5);
}
