@import "support/variables";

.input-base {
  border-radius: 4px;
  background-color: #F9F9F9;
  border: 1px solid darken(#F9F9F9, 10%);
}

.input {
  height: 48px;
  width: 100%;
  border-radius: 4px;
  background-color: #F9F9F9;
  padding: 8px 12px 6px 12px;
  border: none;
}

.input-wrapper {
  position: relative;
  display: block;
  background-color: #F9F9F9;
  width: 100%;
  height: 48px;

  input {
    outline: none;
  }
}

.input-placeholder {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 10px;
  line-height: 13px;
  color: $color-lightgray;
}

.custom-file-browse .custom-file-label::after {
  height: 100%;
  content: 'Выбрать';
  background-color: #F9F9F9;
}

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #5D952F;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-wrapper .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
