.selector-wrapper {
  position: relative;

  &:after {
    content: '\25BE';
    width: 12px;
    height: 8px;
    position: absolute;
    right: 12px;
    top: 45px;
    color: #000;
  }
}

.selector {
  padding: 13px 12px 14px 12px;
  background: #F9F9F9;
  border: none;
  width: 100%;
  height: 48px;
  -webkit-appearance: none;
}

.select2-container--default .select2-selection--single {
  background-color: #F9F9F9;
  border: none;
  -webkit-appearance: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: #FFFFFF !important;
  border: 1px solid darken(#F9F9F9, 10%) !important;
  border-radius: 4px;
  outline: none !important;
}

.select2-selection {
  height: 40px !important;
  padding: 6px;
}

.select2-selection__arrow {
  height: 40px !important;
}

.select2-dropdown {
  background-color: #F9F9F9;
  border: 1px solid darken(#F9F9F9, 10%);
  border-radius: 4px;
}

.select2-search__field {
  background-color: #F9F9F9;
  border: none;
}

.select2-container {
  width: 100% !important;
}
