= render 'shared/admins/box', title: @election.name do
  = render 'shared/admins/election_nav', election: @election

  .container-fluid
    .row
      #sidebar.col-2.collapse.show.d-md-flex.bg-light.pt-2.pl-0.min-vh-100
        - if @districts.any?
          ul.nav.flex-column.flex-nowrap.overflow-hidden
            - @districts.group_by { |s| [ s['country_id'], s['country_name'] ] }.each do |country_details, regions|
              li.nav-item
                a.nav-link.collapsed.text-truncate[data-target="#country-regions-#{country_details.first}" data-toggle="collapse" href="#country-regions-#{country_details.first}"]
                  span.d-none.d-sm-inline = country_details.last
                .collapse.show[id="country-regions-#{country_details.first}" aria-expanded="false"]
                  - if regions.any?
                    ul.flex-column.pl-2.nav
                      - regions.group_by {|r| [r['region_id'], r['region_name']]}.each do |region_details, local_areas|
                        li.nav-item
                          a.nav-link.collapsed.py-1[data-target="#region-local-areas-#{region_details.first}" data-toggle="collapse" href="#region-local-areas-#{region_details.first}"]
                            span = region_details.last
                          .collapse[id="region-local-areas-#{region_details.first}" aria-expanded="false"]
                            - if local_areas.any?
                              ul.flex-column.nav.pl-4
                                - local_areas.group_by {|l| [l['local_area_id'], l['local_area_name']]}.each do |local_area_details, stations|
                                  li.nav-item
                                    a.election-stations.p-1.pl-3[data-local-area-id="#{local_area_details.first}" data-election-id="#{@election.id}" data-levels="#{country_details.last};#{region_details.last};#{local_area_details.last}"]
                                      = local_area_details.last

      .col.pt-2
        h2.stations-content-header
          span#content-country = t('activerecord.models.country')
          span.angle-right-ico
            i.fa.fa-angle-right
          span#content-region = t('activerecord.models.region')
          span.angle-right-ico
            i.fa.fa-angle-right
          span#content-local-area = t('activerecord.models.local_area')
        h6.hidden-sm-down = t('messages.station.index.info')

        table#local-area-stations.table.table-striped.table-bordered.table-hover
          thead
            tr
              th ID
              th = t('activerecord.attributes.station.name')
              th = t('activerecord.attributes.station.address')
              th = t('activerecord.attributes.station.coordinates')
          tbody
