.cabinet-body
  h3.pb-3 #{t('cabinet.pages.election_groups.index.title')}

  table#election-groups.table.table-hover
    thead
      tr
        th ID
        th = t('activerecord.attributes.election_group.name')
        th = t('activerecord.attributes.election_group.date')
        th = t('activerecord.attributes.election_group.description')
    tbody
      - @election_groups.each.with_index(1) do |group, index|
        tr[id="election-group-#{group.id}"]
          td = index
          td.election-group-regions.accordion-toggle[data-toggle="collapse" data-target="#election-group-regions-#{group.id}"]
            = group.name
          td = l(group.date, format: :ddmmyy, default: '')
          td = group.description
        tr.tr-election-group-regions
          td.regions.hiddenRow[colspan="5"]
            .accordian-body.collapse[class="#{'show' if index == 1}" id="election-group-regions-#{group.id}"]
              table.table-borderless.election-group-regions
                tbody
                  - @regions.each do |region|
                    tr.election-group-region
                      td = region.name
                      td.actions
                        = link_to cabinet_election_group_observers_stations_path(group, region_id: region.id),
                                id: "btn-group-#{group.id}-region-observers-#{region.id}", class: 'btn btn-warning'
                          i.fa.fa-users
