= render 'shared/admins/box', title: t('admin.pages.public_organizations.edit.title') do
  = bootstrap_form_with model: [:admins, @org] do |f|
    = f.text_field :name, required: true
    = f.text_field :address
    = f.text_field :iin_bin
    = f.text_field :phone
    = f.text_field :social_network
    = f.select :country_id, Country.all.collect { |org| [org.name, org.id] }
    = f.submit t('admin.buttons.save'), class: 'btn btn-primary'
