= render 'shared/admins/box', title: t('admin.pages.public_organizations.index.title') do
  = link_to t('admin.buttons.add'), new_admins_public_organization_path, class: 'btn btn-primary', id: 'btn-add-public-organization'

  .admin-orgs-list
    table.table.table-stripped
      thead
        th = I18n.t('activerecord.attributes.public_organization.name')
        th = I18n.t('activerecord.attributes.public_organization.address')
        th = I18n.t('activerecord.attributes.public_organization.phone')
        th = I18n.t('activerecord.attributes.public_organization.iin_bin')
        th = I18n.t('activerecord.attributes.public_organization.social_network')
        th = I18n.t('admin.buttons.actions')
      - @orgs.each do |org|
        tr
          td = org.name
          td = org.address
          td = org.phone
          td = org.iin_bin
          td = profile_link(org.social_network)
          td
            div = link_to 'Удалить', admins_public_organization_path(org), method: :delete, data: { confirm: I18n.t('admin.pages.public_organizations.index.destroy_confirm') }
            div = link_to 'Редактировать', edit_admins_public_organization_path(org)
            div = link_to 'Состав ОО', admins_public_organization_users_path(org)
