= render 'shared/admins/box', title: t('admin.pages.public_organizations.new.title') do
  = bootstrap_form_with model: [:admins, @org], id: 'new-public-org-form' do |f|
    = f.text_field :name, required: true
    = f.text_field :address, required: true
    = f.text_field :iin_bin, required: true
    = f.text_field :phone, required: true
    = f.text_field :social_network, required: true
    = f.select :country_id, Country.all.collect { |org| [org.name, org.id] }
    = f.fields_for :users do |u|
      = u.select :role, collection: User.responsible_roles
      = u.text_field :email, required: true
      = u.text_field :first_name, required: true
      = u.text_field :last_name, required: true
      = u.text_field :social_network, required: true
    = f.submit t('admin.buttons.save'), class: 'btn btn-primary'
