#base_filter_form_wrapper
  - saved_filters = session[:closing_protocols_filter] || {}
  = bootstrap_form_tag url: filter_cabinet_closing_protocols_path, method: :get, html: {id: 'base_filter_form'}, remote: true do |f|
    .row
      .col-lg-4
        = f.label "Выборы"
        = f.select :election_id,
                Election.all.collect { |e| [e.name, e.id] },
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['election_id']},
                class: 'form-control-sm'
      .col-lg-4
        = f.label "Организация"
        = f.select :public_organization_id,
                PublicOrganization.all.collect { |p| [p.name, p.id] },
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['public_organization_id']},
                class: 'form-control-sm'
    .row
      .col-lg-4
        = f.label "Регион"
        = f.select :region_id,
                Region.all.collect { |r| [r.name, r.id] },
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['region_id']},
                id: 'protocol_select_region'
      .col-lg-4
        = f.label "Район"
        = f.select :local_area_id,
                [],
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['local_area_id']},
                id: 'protocol_select_area'
      .col-lg-4
        = f.label "УИК"
        = f.select :station_id,
                [],
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['station_id']},
                id: 'protocol_select_station'
    .row
      .col-lg-4
        = f.label "Статус"
        = f.select :status,
                closing_protocol_statuses,
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['status']},
                class: 'form-control-sm',
                id: 'protocol_select_status'
      .col-lg-4
        = f.label "Конфликт"
        = f.select :conflict,
                closing_protocol_conflicts,
                {include_blank: 'Не выбрано', skip_label: true, selected: saved_filters['conflict']},
                class: 'form-control-sm',
                id: 'protocol_select_conflict'
    .row
      .col-lg-3
        = f.submit "Применить", class: "btn btn-sm btn-success", id: "submit_closing_protocols_filter"
        = link_to 'Сбросить', '#', class: "btn btn-sm btn-default", id: "reset_closing_protocols_filter"
