.row
  .col-lg-12
    h3 Протоколы закрытия
hr
.row
  .col-lg-12
    h5 Фильтры
    = render 'base_filter_form'
hr
.row
  .col-lg-4
    p
      strong Поиск по идентификатору наблюдателя
    = render 'search_form'
hr
.row
  .col-lg-12
    #closing_protocols_actions.d-flex.justify-content-end
    #closing_protocols_list
      = render 'list', closing_protocols: @closing_protocols
