.row
  .col-md-12
    table#closing_protocols.table.table-hover
      thead
        tr
          th #
          th Выборы
          th Регион
          th Район
          th УИК
          th ОО
          th Статус
          th Конфликт
          th Дата
          th
      tbody
        - closing_protocols.each do |cp|
          tr[id="closing-protocol-info-#{cp.id}"]
            td = cp.id
            td = cp.election.name
            td = cp.station.local_area.region.name
            td = cp.station.local_area.name
            td = cp.station.name
            td = cp.user.public_organization&.name
            td = t("activerecord.attributes.closing_protocol.statuses.#{cp.status}")
            td
              - title = t("activerecord.attributes.closing_protocol.conflict.#{cp.conflict.to_s}")
              - if cp.conflict
                p.text-danger = title
              - else
                p[class="#{cp.incorrect? ? 'text-secondary' : 'text-success' }"] = title
            td = l(cp.created_at, format: :ddmmyy, default: '')
            td
              .closing-protocols-actions.d-flex
                = link_to cabinet_closing_protocol_path(cp), class: 'btn btn-sm btn-default' do
                  i.fa.fa-info
                input.closing-protocol-check[type="checkbox" data-closing-protocol-id="#{cp.id}"]
.row
  .col-md-12.d-flex.justify-content-end
    .btn-group.btn-group-toggle
      = link_to_prev_page closing_protocols, 'Предыдущуая', class: 'btn btn-sm btn-outline-primary', remote: true
      = link_to_next_page closing_protocols, 'Следующая', class: 'btn btn-sm btn-primary', remote: true
