#search_form_wrapper
  = bootstrap_form_tag url: search_cabinet_closing_protocols_path, method: :get, html: { id: 'search_form' }, remote: true do |f|
    = f.text_field :identifier, skip_label: true, class: 'form-control-sm'
    = f.submit 'Поиск', class: 'btn btn-sm btn-success'
