.cabinet-body
  .row
    .col-lg-8
      h3 = @closing_protocol.station.name
  hr
  .row
    .col-lg-8.closing-protocol-images
      #closing_protocol_image_wrapper
        #closing_protocol_images_carousel.carousel.slide[data-ride="carousel"]
          ol.carousel-indicators
            - @closing_protocol.images.count.times do |n|
              li[data-target="#closing_protocol_images_carousel" data-slide-to="#{n}" class="#{'active' if n.zero?}"]
          .carousel-inner
            - @closing_protocol.images.each_with_index do |image, index|
              .carousel-item[class="#{'active' if index.zero?}"]
                = link_to image.url do
                  = image_tag(image.url, width: '100%', height: '500', class: 'd-block w-100')
          a.carousel-control-prev[href="#closing_protocol_images_carousel" role="button" data-slide="prev"]
            span.carousel-control-prev-icon[aria-hidden="true"]
            span.sr-only
              | Previous
          a.carousel-control-next[href="#closing_protocol_images_carousel" role="button" data-slide="next"]
            span.carousel-control-next-icon[aria-hidden="true"]
            span.sr-only
              | Next
    .col-lg-4
      #closing_protocol_base_info
        .closing-protocol-elections-info
          p.section-title.font-weight-bold Выборы
          = @closing_protocol.election.name
        hr
        .protocol-observer-info
          p.section-title.font-weight-bold ID наблюдателя
          p = @closing_protocol.user.identifier
        hr
        - if @closing_protocol.user.full_name
          .protocol-observer-info
            p.section-title.font-weight-bold ФИО наблюдателя
            p = @closing_protocol.user.full_name
          hr
        .closing-protocol-status-info
          p.section-title.font-weight-bold Статус
          span[class="#{@closing_protocol.incorrect? ? 'text-danger' : 'text-default'}"] = t("activerecord.attributes.closing_protocol.statuses.#{@closing_protocol.status}")
        hr
        .closing-protocol-conflict-info
          p.section-title.font-weight-bold Конфликт
          - if @closing_protocol.conflict
            span.text-danger Присутствует
          - else
            span.text-success Отсутствует
  hr
  .row.closing-protocol-details
    .col-lg-4
      #closing_protocol_candidates_details
        p.section-title.font-weight-bold Голоса за кандидатов
        table.table.table-borderless
          - @candidates_protocols.each do |cp|
            tr
              td.py-2.px-0
                = cp.candidate.name
              td.py-2.px-0.text-right
                = cp.votes
    .col-lg-4
      #closing_protocol_voters_details
        p.section-title.font-weight-bold Данные по избирателям
        table.table.table-borderless
          - %i[total_voters active_voters absentee_certificate_voters outdoors_voters].each do |attr|
            tr
              td.py-2.px-0
                = t("activerecord.attributes.closing_protocol.#{attr.to_s}")
              td.py-2.px-0.text-right
                = @closing_protocol.send(attr)
    .col-lg-4
      #closing_protocol_bulletins_details
        p.section-title.font-weight-bold Данные по бюллетеням
        table.table.table-borderless
          - %i[total_bulletins voters_bulletins invalid_bulletins canceled_bulletins].each do |attr|
            tr
              td.py-2.px-0
                = t("activerecord.attributes.closing_protocol.#{attr.to_s}")
              td.py-2.px-0.text-right
                = @closing_protocol.send(attr)
  hr
  .row.d-flex
    .col-md-12.d-flex.flex-row.justify-content-end.align-content-end
      = link_to approve_cabinet_closing_protocol_path(@closing_protocol),
              method: :patch,
              class: 'btn btn-sm btn-success m-1',
              id: "approve_closing_protocol_#{@closing_protocol.id}",
              data: {confirm: 'Вы уверены?'} do
        i.fa.fa-check.mr-1
        | Корректный
      = link_to reject_cabinet_closing_protocol_path(@closing_protocol),
              method: :patch,
              class: 'btn btn-sm btn-secondary m-1',
              id: "reject_closing_protocol_#{@closing_protocol.id}",
              data: {confirm: 'Вы уверены?'} do
        i.fa.fa-times.mr-1
        | Некорректный
      = link_to batch_reject_cabinet_closing_protocol_path(@closing_protocol),
              method: :patch,
              class: 'btn btn-sm btn-warning m-1',
              id: "batch_reject_closing_protocol_#{@closing_protocol.id}",
              data: {confirm: 'Все протоколы наблюдателя станут некорректными. Продолжить?'} do
        i.fa.fa-times.mr-1
        | По наблюдателю
      = link_to delete_cabinet_closing_protocol_path(@closing_protocol),
              method: :patch,
              class: 'btn btn-sm btn-danger m-1',
              id: "delete_closing_protocol_#{@closing_protocol.id}",
              data: {confirm: 'Вы уверены?'} do
        i.fa.fa-trash.mr-1
        | Удалить
