= render 'shared/root_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .col-wrapper
      p.col-title = t('pages.results.elections.index.title')
      .mb-4
        = link_to t('pages.buttons.download_results'), results_elections_path(format: :xlsx), class: 'custom-link'
      .mv-16
        - @elections.each do |election|
          div.mv-12.text-center
            = link_to election.name, [:results, election], class: 'd-inline-block button social-button'
