= render 'shared/elections_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .col-wrapper
      p.col-title = @election.name

      = select_tag 'district', district_options(@election.id, @electoral_districts), { id: 'select-district', include_blank: '' }

      .download-results-link.mv-12
        = link_to "#{t('pages.buttons.download_results')} (по всем регионам)",
                results_election_path(@election, format: :xlsx),
                class: 'custom-link'
