.row.d-flex.justify-content-center
  .col-sm-6.col-wrapper
    h1.text-center = t('devise.custom.sessions.sign_in')
    hr
    = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!

      = f.email_field :email, autofocus: true, placeholder: 'Email', skip_label: true, required: true, autocomplete: 'off', class: 'input'
      = f.password_field :password, autocomplete: 'off', placeholder: 'Пароль', skip_label: true, required: true, class: 'input'
      .form-group.d-flex.justify-content-start
        = link_to t('devise.custom.passwords.forgot_password'), new_password_path(resource_name), class: 'link-primary'
      .form-group.d-flex.justify-content-center
        = f.submit t('devise.custom.sessions.sign_in'), class: 'button button-primary'
