.row
  .col-sm-4.col-sm-offset-4
    h1 = t('devise.custom.registrations.edit_profile')

    hr
    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!

      = f.email_field :email
      = f.password_field :current_password, autocomplete: 'off', label: { class: :required }
      = f.password_field :password, autocomplete: 'off', skip_required: true, label: t('devise.custom.passwords.new_password')
      = f.password_field :password_confirmation, autocomplete: 'off', label: t('devise.custom.passwords.confirm_new_password')
      = f.submit 'Update', class: 'btn btn-lg btn-block btn-primary'
