.row
  .col-sm-4.col-sm-offset-4
    h1.text-center = t('devise.custom.registrations.sign_up')
    hr
    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      = f.text_field :first_name, required: true
      = f.text_field :last_name, required: true
      = f.email_field :email, required: true, autofocus: false
      = f.phone_field :phone, placeholder: '7 (777) 7777777', required: true
      = f.password_field :password, autocomplete: 'off', class: 'form-control'
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      = f.submit t('devise.custom.registrations.sign_up'), class: 'btn btn-primary btn-block btn-lg'

    .text-center
      = render 'devise/shared/links'
