= bootstrap_form_with model: [:admins, local_area] do |f|
  = f.fields_for :country do |c|
    = c.text_field :name, required: true, value: local_area.country.name,
            label: t("activerecord.attributes.country")
  = f.fields_for :region do |r|
    = r.text_field :name, required: true, value: local_area.region.name,
            label: t('activerecord.models.region')
  = f.text_field :name, required: true
  = f.submit t('admin.buttons.edit'), class: 'btn btn-primary'
