= render 'shared/back_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .col-wrapper
      p.col-title = @station.name
      p.col-text = @election.name
      p.col-text.color-light-gray = "#{@station.country.name} - #{@station.region.name} - #{@station.local_area.name}"

      .row.mv-16
        .col-sm-12.p-0
          .download-results-link.mb-2
            = link_to t('pages.buttons.download_results'), results_election_district_station_path(@election, @district, @station, format: :xlsx)

          .stations-elections-results
            - protocol = @station_closing_protocols.correct.first
            - if protocol.present?
              .election-results[style="margin-bottom: 10px;"]
                table.table
                  tbody
                    tr
                      td Избирателей всего
                      td.text-right
                        strong = protocol.total_voters
                    tr
                      td Явка избирателей, %
                      td.text-right
                        strong = "#{(100 * protocol.active_voters.to_f/protocol.total_voters).round(2)} %"
                    tr
                      td Избирателей проголосовавших
                      td.text-right
                        strong = protocol.active_voters
                    tr
                      td = t('activerecord.attributes.closing_protocol.invalid_bulletins')
                      td.text-right
                        strong = protocol.invalid_bulletins

                .election-candidates
                  table.table
                    thead
                      tr
                        th Кандидат
                        th Голоса
                        th.text-right %
                    tbody
                      - protocol.candidates_closing_protocols.each do |cc|
                        tr
                          td = cc.candidate.name
                          td
                            strong = cc.votes
                          td.text-right
                            strong = cc.votes.zero? ? cc.votes.to_f : (100 * cc.votes.to_f / (protocol.active_voters - protocol.invalid_bulletins)).round(2)
                a.link-to-protocol.custom-link[href="#protocol-info-#{protocol.id}"] = t('pages.stations.results.index.show_protocol')
            - else
              .election-info[style="margin-bottom: 10px;"]
                .election-name = @election.name
                .election-candidates
                  - @candidates.each do |candidate|
                    .candidate-name = candidate.name
                    .votes-count = 0
      .row.mv-16
        .col-sm-12.p-0
          p.col-title = t('pages.stations.results.index.protocols_list')
          .stations-protocols
            - @station_closing_protocols.each do |protocol|
              .station-protocol-card[id="protocol-info-#{protocol.id}" style="padding: 10px; border: 1px solid #EEEEEE; margin-bottom: 10px;"]
                .protocol-info[style="display: flex; justify-content: space-between;"]
                  .protocol = t('pages.stations.results.index.protocol')
                  .protocol-id = protocol.id
                .protocol-status[style="display: flex; justify-content: space-between;"]
                  .status-header = t('activerecord.attributes.closing_protocol.status')
                  .status-value = t("activerecord.attributes.closing_protocol.statuses.#{protocol.status}")
                .protocol-votes-info.mv-12
                  .votes-info-header = t('pages.stations.results.index.votes_count')
                  .votes-by-candidates
                    - protocol.candidates_closing_protocols.each do |candidate_protocol|
                      .candidate-votes[style="display: flex; justify-content: space-between;"]
                        .candidate-name = candidate_protocol.candidate.name
                        .votes-count
                          strong= candidate_protocol.votes
                .protocol-images
                  a.show-protocol-images.custom-link[href='#' data-id="#{protocol.id}"]
                    = t('pages.stations.results.index.show_images')
                    i.fa.fa-arrow-down.ml-2.color-green
                  .protocol-images.display-none[id="protocol-images-#{protocol.id}"]
                    .carousel.slide[data-ride="carousel" id="protocol-images-carousel-#{protocol.id}"]
                      ol.carousel-indicators
                        - protocol.images.count.times do |n|
                          li[data-target="#protocol-images-carousel-#{protocol.id}" data-slide-to="#{n}" class="#{'active' if n.zero?}"]
                      .carousel-inner
                        - protocol.images.each_with_index do |image, index|
                          .carousel-item[class="#{'active' if index.zero?}"]
                            = link_to image.url do
                              = image_tag(image.url, width: '100%', height: '500', class: 'd-block w-100')
                      a.carousel-control-prev[href="#protocol-images-carousel-#{protocol.id}" role="button" data-slide="prev"]
                        span.carousel-control-prev-icon[aria-hidden="true"]
                        span.sr-only
                      a.carousel-control-next[href="#protocol-images-carousel-#{protocol.id}" role="button" data-slide="next"]
                        span.carousel-control-next-icon[aria-hidden="true"]
                        span.sr-only
