p = "Привет, #{@resource.email}!"
p Кто-то пригласил вас принять участие в системе наблюдения за выборами Solve! Elections в качестве представителя общественного объединения.
p = link_to 'Создать пароль', edit_password_url(@resource, reset_password_token: @token)
p Если вам кажется, что это письмо попало к вам по ошибке, то, пожалуйста, проигнорируйте его.
p Пока вы не создадите пароль, ни вы, ни кто-либо ещё не смогут работать с вашего аккаунта.
