= render 'shared/admins/box', title: "#{t('admin.pages.public_organizations.users.index.title')} #{@org.name}" do
  = link_to t('admin.buttons.add'), new_admins_public_organization_user_path, class: 'btn btn-primary', id: 'btn-add-user'

  table.table.table-stripped
    thead
      tr
        td Имя
        td Фамилия
        td Email
        td Роль
        td = t('admin.buttons.actions')
    - @users.each do |user|
      tr
        td = user.first_name
        td = user.last_name
        td = user.email
        td = t("activerecord.attributes.user.role_types.#{user.role}")
        td
          div = link_to 'Редактировать', edit_admins_public_organization_user_path(@org, user)
          div = link_to 'Удалить', admins_public_organization_user_path(@org, user), method: :delete,
                  data: { confirm: I18n.t('admin.pages.public_organizations.users.index.destroy_confirm') }
