= render 'shared/admins/box', title: t('admin.pages.public_organizations.users.new.title') do
  = bootstrap_form_with model: [:admins, @org, @user] do |f|
    = f.select :role, User.responsible_roles
    = f.text_field :email, required: true
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_field :social_network
    = f.submit t('admin.buttons.save')
