nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    ul.nav.flex-column
      li.nav-item[class=active_controller?('cabinet/dashboard')]
        = link_to cabinet_root_path, class: "nav-link" do
          i.fa.fa-bar-chart
          span.nav-link-text = t('cabinet.pages.home.title')
      li.nav-item[class=active_controller?('cabinet/election_groups')]
        = link_to cabinet_election_groups_path, class: "nav-link" do
          i.fa.fa-list-alt
          span.nav-link-text = t('cabinet.pages.election_groups.index.title')
      li.nav-item[class=active_controller?('cabinet/users')]
        = link_to cabinet_users_path, class: "nav-link" do
          i.fa.fa-building-o
          span.nav-link-text = t('cabinet.pages.users.index.title')
      li.nav-item[class=active_controller?('cabinet/closing_protocols')]
        = link_to cabinet_closing_protocols_path, class: "nav-link" do
          i.fa.fa-folder
          span.nav-link-text = t('cabinet.pages.closing_protocols.index.title')

main.col-md-9.ml-sm-auto.col-lg-10.px-4[role="main"]
  = yield
