nav.navbar.fixed-top.border-bottom
  a.navbrand.col-md-6[href="/cabinet"] = @public_organization.name
  .navigation-bar
    - if user_signed_in?
      .navigation-item.nav-dropdown
        .dropdown
          a#notificationsMenu.btn.btn-sm.btn-dark.dropdown-toggle[href="#" role="button"]
            i.fa.fa-bell.text-white
      .navigation-item
        = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-dark'
