.cabinet-body
  h3.pb-1 #{t('cabinet.pages.observers_stations.index.title')}

  .observers-info.pb-3
    .observers-region = @region.name
    .election-group = @election_group.name

  table#election-group-observers.table.table-hover
    thead
      tr
        th ID
        th = t('activerecord.attributes.user.username')
        th = t('activerecord.models.station')
        th = t('activerecord.attributes.observers_station.certificate')
        th = t('activerecord.attributes.observers_station.certification')
        th = t('activerecord.attributes.observers_station.certification_request_status')
        th = t('activerecord.attributes.observers_station.created_at')
        th = t('admin.buttons.actions')
    tbody
      - @observers_stations.each.with_index(1) do |observer_station, index|
        tr
          td = index
          td = observer_station.user.username
          td = observer_station.station.name
          td = certificate_exists?(observer_station.certificate)
          td = t("activerecord.attributes.observers_station.certification_status.#{observer_station.certification}")
          td
            - if observer_station.certification_request
              i.fa.fa-check-square-o
          td = l(observer_station.created_at, format: :ddmmyy, default: '')
          td.actions
            = link_to cabinet_election_group_observers_station_path(@election_group, observer_station, region_id: @region.id),
                    id: "show-observers-station-#{observer_station.id}", class: 'btn btn-sm'
              i.fa.fa-info
