.cabinet-body
  h3.pb-1 #{t('cabinet.pages.observers_stations.show.title')}
  hr

  .row
    .col-lg-6
      .observer-certificate
        - if @observers_station.certificate.present?
          = link_to @observers_station.certificate.url do
            = image_tag(@observers_station.certificate.url, width: '100%', class: 'd-block w-100')
        - else
          .observer-certification-absence.d-flex.w-100 = t('cabinet.pages.observers_stations.show.certification_absence')
    .col-lg-6
      p.observer-id-title.font-weight-bold = t('activerecord.attributes.user.identifier')
      p.observer-id = @observers_station.user.identifier
      hr

      p.observer-station-title.font-weight-bold = t('cabinet.pages.observers_stations.show.station_title')
      p.observer-station = @observers_station.station.name
      hr

      p.observer-status-title.font-weight-bold = t('activerecord.attributes.observers_station.certification')
      p.observer-status = t("activerecord.attributes.observers_station.certification_status.#{@observers_station.certification}")
      hr

      - if @observers_station.rejected?
        p.rejection-reason-title.font-weight-bold = t('activerecord.attributes.observers_station.rejection_reason')
        p.rejection-reason = @observers_station.rejection_reason || t('activerecord.attributes.observers_station.rejection_reason_absent')
        hr

      - if @observers_station.accreditor.present?
        p.observer-accreditor-title.font-weight-bold = t('cabinet.pages.observers_stations.show.accredited_by')
        p.observer-accreditor = @observers_station.accreditor.full_name || @observers_station.accreditor.email
        hr

      .row.d-flex
        .col-md-12
          = link_to approve_cabinet_election_group_observers_station_path(@election_group, @observers_station, region_id: @region.id),
                  method: :patch, id: "btn-approve-certificate-#{@observers_station.id}",
                  class: "btn btn-warning approve-certificate #{'disabled' if @observers_station.approved?} mb-3",
                  data: {confirm: t('cabinet.buttons.approve_certificate')}
            | #{t('cabinet.buttons.approve')}
          = bootstrap_form_with model: [:cabinet, @observers_station],
                  url: reject_cabinet_election_group_observers_station_path(@election_group, @observers_station, region_id: @region.id),
                  html: { id: "reject_certificate_#{@observers_station.id}" } do |f|
            = f.text_area :rejection_reason, required: true
            = f.submit t('cabinet.buttons.reject'), class: 'btn btn-danger', id: "btn-reject-certificate-#{@observers_station.id}"
