= bootstrap_form_for [:admins, @election_group] do |f|
  = f.text_field :name, required: true
  = f.date_field :date
  = f.text_field :description
  = f.submit t('admin.buttons.save'), class: 'btn btn-primary', id: 'btn-save'
