= render 'shared/admins/box', title: t('admin.pages.election_groups.index.title') do
  = link_to t('admin.buttons.add'), new_admins_election_group_path, class: 'btn btn-primary', id: "btn-add-election-group"

  table#election-groups.table.table-striped.table-bordered.table-hover
    thead
      tr
        th ID
        th = t('activerecord.attributes.election_group.name')
        th = t('activerecord.attributes.election_group.date')
        th = t('activerecord.attributes.election_group.description')
        th = t('activerecord.attributes.election_group.status')
        th = t('admin.buttons.actions')
    tbody
      - @election_groups.each do |election_group|
        tr[id="election-group-#{election_group.id}"]
          td = election_group.id
          td = election_group.name
          td = l(election_group.date, format: :ddmmyy, default: '')
          td = election_group.description
          td = t("admin.pages.election_groups.index.checkboxes.#{election_group.status}")
          td.actions
            = link_to admins_election_group_public_organizations_path(election_group), id: "btn-election-group-orgs-#{election_group.id}", class: 'btn btn-info'
              | Организации
            = link_to edit_admins_election_group_path(election_group), id: "btn-edit-election-group-#{election_group.id}", class: 'btn btn-warning'
              i.fa.fa-pencil
            = link_to publish_admins_election_group_path(election_group), method: :patch,
                    id: "btn-publish-group-#{election_group.id}",
                    class: "btn btn-info #{'disabled' if election_group.draft?}",
                    data: {confirm: t('admin.buttons.publish_confirm')}
              i.fa.fa-share
            = link_to [:admins, election_group], method: :delete, id: "btn-remove-election-group-#{election_group.id}", class: 'btn btn-danger', data: { confirm: t('admin.buttons.delete_confirm') }
              i.fa.fa-trash
