- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to t('devise.custom.passwords.forgot_password'), new_password_path(resource_name), class: 'link-primary'
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('devise.custom.registrations.sign_up'), new_registration_path(resource_name), class: 'link-primary'

