.row
  - if devise_mapping.omniauthable?
    - excluded = ENV.fetch('DISABLED_SOCIAL_LINKS').split(',')
    - resource_class.omniauth_providers.each do |provider|
      - next if excluded.include?(provider.to_s)
      .col-sm-12.mv-6.d-flex.justify-content-center
        = link_to omniauth_authorize_path(resource_name, provider), class: "button social-button" do
          = image_tag("/icons/#{provider}.png", width: '25', height: '25', class: 'social-button-icon')
          = "#{OmniAuth::Utils.camelize(t("devise.social.#{provider}"))}"
