= render 'shared/admins/box', title: @election.name do
  = render 'shared/admins/election_nav', election: @election

  table#election-local-areas.table.table-striped.table-bordered.table-hover
    thead
      tr
        th ID
        th = t('activerecord.models.country')
        th = t('activerecord.models.region')
        th = t('activerecord.models.local_area')
        th = t('admin.buttons.actions')
    tbody
      - @district_local_areas.each.with_index(1) do |local_area, index|
        tr
          td = index
          td = local_area.country.name
          td = local_area.region.name
          td = local_area.name
          td.actions
            = link_to '', id: "btn-edit-local-area-#{local_area.id}", class: 'btn btn-warning',
                    data: { toggle: 'modal', target: "#editLocalAreaModal#{local_area.id}" }
              i.fa.fa-pencil
            = link_to admins_election_electoral_district_path(id: @election.id, local_area_id: local_area.id), method: :delete,
                    class: 'btn btn-danger', data: {confirm: t('admin.buttons.delete_confirm')}
              i.fa.fa-trash
        = render 'shared/modal', id: "editLocalAreaModal#{local_area.id}", title: t('admin.pages.election_districts.edit.title') do
          = render 'admins/local_areas/form', local_area: local_area
