#protocol_wizard > #protocol_upload > .actions {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#protocol_wizard {
  fieldset {
    min-height: 400px;
  }

  .steps, .title {
    display: none;
  }

  .title.current {
    display: block;
  }

  .actions {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  ul[role="menu"] {
    li {
      width: 50%;
      list-style-type: none;
      display: inline-block;
      margin: 5px;
    }
  }

  .error {
    color: #b94a48;
    margin: 5px;
  }
}

#result_wrapper {
  text-align: center;
  padding: 10px;

  i {
    font-size: 30px;
  }
}
