.observers-count {
  width: 174px;
}

.certified-observers-count {
  width: 185px;
}

.stations-count {
  width: 253px;
}

.block-left {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.block-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-start {
  margin-bottom: 28px;
  margin-top: 4px;
}

.info-value {
  font-size: 68px;
  line-height: 89px;
}

.info-text {
  font-size: 24px;
  line-height: 32px;
}

.observers-info-value {
  width: 154px;
  height: 89px;
}

.observers-info-text {
  width: 174px;
  height: 64px;
}

.certified-observers-info-value {
  width: 185px;
  height: 89px;
}

.certified-observers-info-text {
  width: 185px;
  height: 64px;
}

.stations-info-value {
  width: 260px;
  height: 89px;
}

.stations-info-text {
  width: 260px;
  height: 64px;
}

.invitation-text {
  width: 300px;
  height: 48px;
  font-size: 36px;
  line-height: 48px;
}

.gray-line {
  position: absolute;
  top: 54px;
  height: 27px;
  background-color: $color-whitegray;
  z-index: -10;
}

.observers-line {
  width: 297px;
  left: -16px;
}

.certified-observers-line {
  width: 270px;
  right: -16px;
}

.stations-line {
  width: 347px;
  left: -16px;
}

.stations-region-selector-block {
  max-width: 319px;
}

.stations-region-selector {
  padding-top: 21px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 21px;
  color: $color-darkgray;
}

.stations-placeholder {
  position: absolute;
  top: 20px;
  left: 12px;
}

.stations-map {
  width: 100%;
  height: 400px;
}

.stations-map-placemarks-info {
  padding-bottom: 10px;
}

.station-point-error-link {
  color: red;

  &:hover {
    color: darkred;
  }
}
