ul#profile-menu {
  list-style-type: none;
}

ul#profile-menu > li {
  text-align: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

ul#profile-menu > li.active {
  border-color: #5D952F;
}

ul#profile-menu > li.active > span {
  color: #5D952F;
}

ul#profile-menu > li > span {
  color: #414141;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
