@import "rails_bootstrap_forms";
@import "font-awesome";
@import "animate";

@import "inspinia/bootstrap/css/bootstrap.min";
@import "inspinia/plugins/toastr/toastr.min";
@import "inspinia/style";
@import "inspinia/animate";

@import "plugins/select2.min";

table {
  .actions {
    .btn {
      margin-right: 5px;
    }
  }
}

.checkmark-icon {
  font-size: 16px;
}

.readiness-check {
  margin-bottom: 5px;
}

.election-nav {
  margin-bottom: 20px;
}

.election-content {
  margin-top: 20px;
}

.nav-link[data-toggle].collapsed:before {
  content: " ▾ ";
}
.nav-link[data-toggle]:not(.collapsed):before {
  content: " ▴ ";
}

.angle-right-ico {
  margin: 0 10px;
}

.select2-container--open {
  z-index: 9999;
}

.select2 {
  width: 100% !important;
}
