@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";
@import "animate";
@import "inspinia/plugins/toastr/toastr.min";
@import "plugins/select2.min";

@import "util/fonts";
@import "util/indicators";
@import "support/variables";

@import "layout";
@import "helpers";
@import "responsive";
@import "components/buttons";
@import "components/selectors";
@import "components/inputs";
@import "content/closing_protocols";
@import "content/profiles";
@import "content/dashboard";

.stations-filters {
  margin: 20px 0;
}

.filter-input {
  padding: 10px 0;
}

.stations-filter-selection, .orgs-dropdown {
  width: 100%;
  padding: 5px;
}

.orgs-dropdown {
  cursor: pointer;
}

.org-checkbox-label {
  padding-left: 5px;
}

.submit_observers_station {
  margin-right: 10px;
}

.certification-info-block {
  padding-bottom: 10px;
}

.certification-info-link {
  text-decoration: underline;
}

.stations-filter {
  .select2-selection {
    height: auto !important;

    .select2-selection__choice {
      background-color: #F9F9F9 !important;
    }
  }
}

.pagination {
  a {
    color: $color-green;
    padding-right: 5px;
    padding-left: 5px;
  }

  .first, .last, .prev, .next, .page {
    margin-left: 3px;
    margin-right: 3px;
  }
}
