@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";
@import "animate";
@import "inspinia/plugins/toastr/toastr.min";
@import "plugins/datatables.min";
@import "plugins/select2.min";

@import "util/indicators";
@import "cabinet/closingProtocols";

body {
  font-size: .875rem;
}

h3 {
  margin: 10px 0;
}

#closing_protocols_actions {
  padding: 5px;
}

.cabinet-body {
  margin-bottom: 50px;
}

.select2-container--default .select2-selection--single {
  height: calc(1.8125rem + 2px);
  border: 1px solid #ced4da;
}

.closing-protocol-check {
  margin: 10px;
}

.nav-item.active {
  background-color: #eee;
}

p.section-title {
  font-size: 0.9rem;
}

.dashboard-content {
  padding: 30px 0;
}

.toast {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 10;
}

.cabinet-content {
  .row {
    margin-bottom: 20px;
  }
}

.property-cards {
  .property-card {
    margin-bottom: 30px;
  }
}

.form-group {
  label.required:after {
    content: " * ";
    color: red;
  }
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar {
  color: #fff;
  background-color: #343a40;
  padding: 0.7rem;
}

.unread-notification-icon {
  font-size: 90%;
  position: relative;
  top: -10px;
}

.navigation-bar {
  .navigation-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .nav-dropdown {
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      width: 300px;
      left: -200px;
      top: 160%;
      height: 500px;
      overflow: scroll;
      padding: 5px;
      border: none;

      -webkit-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);

      .notification-item {
        white-space: normal;
        font-size: 85%;
        color: #000;

        .read-notification-icon {
          display: none;
        }

        &.read {
          .read-notification-icon {
            display: block;
          }
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    .dropdown-item {
      overflow-wrap: break-word;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 56px 0 0;
  background-color: #f8f9fa;
  border-right: 1px solid #eee;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;

  .nav-link-text {
    margin-left: 10px !important;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

ul.sidebar-properties-types {
  li {
    width: 100%;
    display: list-item;

    a.sidebar-secondary {
      color: #999;
      padding: 0.5rem 3rem;
    }
  }
}

.sidebar .nav-link {
  font-size: 1rem;
  color: #343a40;
  padding: 0.8rem 1rem;

  &:hover {
    background-color: #eee;
    color: #343a40;
  }
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #00acc3;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 64px;
}

.navbrand {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  padding-left: 0.3rem;

  &:hover {
    color: #00acc3;
    text-decoration: none;
  }
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.cabinet-content {
  margin-bottom: 100px;
}

.property-item-address {
  padding: 0 0.5rem;
}

.property-info-collapse {
  display: block;
  font-size: 120%;
  color: #000;
  margin: 10px 0;

  &:hover {
    color: #333;
  }
}

.election-group-regions {
  cursor: pointer;
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.observer-certificate {
  height: 100%;
}

.observer-certification-absence {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
