@import "support/variables";

.content-wrapper {
  height: 100%;
}

.col-wrapper {
  width: 100%;
  padding: 16px;
  margin: 0;
}

.mv-20-auto {
  margin: 20px auto;
}

.mv-16 {
  margin: 16px 0;
}

.mv-12 {
  margin: 12px 0;
}

.mv-6 {
  margin: 6px 0;
}

.mh-12 {
  margin: 0 12px;
}

.ph-0 {
  padding-left: 0;
  padding-right: 0;
}

.ph-16 {
  padding: 0 16px;
}

.pv-10 {
  padding: 10px 0;
}

.pv-16 {
  padding: 16px 0;
}

.no-padding {
  padding: 0;
}

.row-input {
  margin: 12px 0;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.65;
}

.pos-rel {
  position: relative;
}

.width-100 {
  width: 100%;
}

.hp-10 {
  height: 10%;
}

.hp-90 {
  height: 90%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.mb-100 {
  margin-bottom: 100px;
}

.z-i-10 {
  z-index: 10;
}

.z-i-20 {
  z-index: 20;
}

.no-label {
  label {
    visibility: hidden;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.overflow-scroll {
  overflow: scroll;
}

.color-green {
  color: $color-green;
}

.color-gray {
  color: $color-darkgray;
}

.color-light-gray {
  color: $color-lightgray
}

.title-size-24 {
  font-size: 24px;
  line-height: 32px;
}

.description {
  font-size: 12px;
  line-height: 16px;
}

.inline-placeholder {
  font-size: 10px;
  line-height: 13px;
  color: $color-lightgray;
}

.btn-white-link {
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.bg-w {
  background-color: #fff;
}

.paragraph-small {
  font-size: 12px;
  color: #818181;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 5px;
}
