html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Roboto-Regular', Verdana, Arial, sans-serif;
  overflow: hidden;
}

header {
  height: 8%;
  padding: 9px 0;
}

small {
  color: #818181;
}

hr {
  color: #CFCFCF;
}

a.custom-link {
  color: #5D952F;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none !important;

  &:hover {
    color: darken(#5D952F, 10%);
  }
}

.navbar {
  padding: 5px;
}

.navbar-toggler {
  border: none;
  color: #818181;
  font-size: 1.8rem;
}

ul.navbar-nav > li {
  border-bottom: 2px solid #F9F9F9;
  text-align: center;

  &:hover {
    border-color: #5D952F;
  }
}

ul.navbar-nav > li > a {
  color: #414141;
  font-size: 16px;
  text-transform: uppercase;
}

main.container {
  height: 92%;
}

.title-block {
  width: 100%;
  max-width: 319px;
  padding: 15px 0;
  color: #414141;
}

.link-primary {
  color: #5D952F;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
}

.page-md-title {
  color: #414141;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.actions-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

a.back-link {
  height: 21px;
  color: #414141;
  letter-spacing: 0;
  line-height: 21px;
  font-size: 16px;
}

a.small-link {
  color: #5D952F;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none;
}

a > i {
  height: 19.8px;
  width: 19.93px;
  color: #3C4043;
}

.col-title {
  color: #414141;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.col-sub-title {
  font-size: 18px;
  color: #818181;
}

.col-text {
  color: #414141;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21px;
}

.table-column-text {
  font-size: 14px;
}
