@media (min-width: 768px) {
  ul.navbar-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
    }
  }
}
