.row.d-flex.justify-content-center.hp-10
  .col-sm-6.no-padding
    .col-wrapper
      = link_to results_elections_path, class: 'back-link' do
        i.fa.fa-arrow-left.mr-2
        | К результатам выборов
      hr.mb-0
