.modal[aria-hidden="true" aria-labelledby="modalLable" role="dialog" tabindex="-1" id=id class="#{'fade' unless Rails.env.test?}"]
  .modal-dialog role="document"
    .modal-content
      .modal-header
        h5#modalLable.modal-title = title
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
      .modal-body
        = yield
