nav.navbar.navbar-expand-md.bg-w.z-i-10
  button.navbar-toggler[type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"]
    i.fa.fa-bars
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.d-flex.justify-content-between
      - if current_user
        - if current_user.observer?
          li.nav-item.flex-fill
            = link_to 'Профиль', profile_path, class: 'nav-link'
        - else
          li.nav-item.flex-fill
            = link_to 'Кабинет', cabinet_root_path, class: 'nav-link'
      - else
      li.nav-item.flex-fill
        = link_to 'Загрузить протокол', new_closing_protocol_path, class: 'nav-link', id: 'upload_closing_protocol'
      li.nav-item.flex-fill
        - if current_user
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          = link_to 'Войти', new_user_session_path, class: 'nav-link'

