= render 'shared/root_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .col-wrapper
      p.col-title.mb-4 = t('pages.stations.index.title')

      .stations-filters
        .filter-input.orgs-filter
          .orgs-filtered
            label[for="public_organizations"] = t('pages.stations.index.choose_org')
            input.input.orgs-dropdown[type="text" id="public_organizations" placeholder="#{t('pages.stations.index.orgs_default_option')}" ]
          .orgs-checkboxes.p-3.input-base.display-none
            - @orgs.each do |org|
              .org-checkbox-block
                input.org-checkbox[type="checkbox" id="org-#{org.id}" name="org-#{org.id}" value="#{org.id}" data-name="#{org.name}"]
                label.org-checkbox-label[for="org-#{org.id}"] =  org.name

        .filter-input.orgs-types-filter
          .selector-wrapper
            label[for="public_organization_type"] = t('pages.stations.index.choose_org_type')
            select.selector.stations-filter-selection[name="public_organization_type" id="public_organization_type"]
              - ['unaffiliated', 'affiliated'].each do |option|
                option[value="#{option}"] = t("cabinet.public_organizations.types.#{option}")
              option[value=""] = t('pages.stations.index.options_all')

        .filter-input.observers-certification-filter.mb-2
          .selector-wrapper
            label[for="observer_type"] = t('pages.stations.index.choose_observer_type')
            select.selector.stations-filter-selection[name="observer_type" id="observer_type"]
              option[value=""] = t('pages.stations.index.options_all')
              - ['no_certificate', 'certified', 'uncertified'].each do |option|
                option[value="#{option}"] = t("cabinet.observers_stations.certification.#{option}")
        hr
        .filter-input.region-filter
          .selector-wrapper
            label[for="region_id"] = t('pages.stations.index.choose_region')
            select.selector.stations-filter-selection[name="region" id="region_id"]
              - @regions.each do |region|
                option[value="#{region.id}"] = region.name
        .filter-input.local-area-filter
          .selector-wrapper
            label[for="local_area_id"] = t('pages.stations.index.choose_area')
            select.selector.stations-filter-selection[name="region" id="local_area_id"]
              - @local_areas.each do |local_area|
                option[value="#{local_area.id}"] = local_area.name
        hr
        .mb-1
          small = t('pages.stations.index.show_stations')
        .filter-input.stations-filter
          .selector-wrapper
            label[for="station_filter_selector"] = t('pages.stations.index.choose_station')
            select.selector.stations-filter-selection.stations-select2[name="station" id="station_filter_selector" class="selector"]
              - @stations.each do |station|
                option[value="#{station.id}"] = station.name
        .text-center
          button.button.button-primary.btn-filter-stations = t('cabinet.buttons.apply')

      .stations-map#stations_info_map
      .stations-map-placemarks-info.mv-12
        p.paragraph-small.red-icon
          span.text-danger = "#{t('pages.stations.index.placemark_titles.red')} "
          | –
          = " #{t('pages.stations.index.placemark_info.red_icon')}"
        p.paragraph-small.gray-icon
          span.text-secondary = "#{t('pages.stations.index.placemark_titles.gray')} "
          | –
          = " #{t('pages.stations.index.placemark_info.gray_icon')}"
        p.paragraph-small.green-icon
          span.text-success = "#{t('pages.stations.index.placemark_titles.green')} "
          | –
          = " #{t('pages.stations.index.placemark_info.green_icon')}"
