= render 'shared/root_link'

.row.d-flex.justify-content-center
  .col-sm-6.p-2
    .col-wrapper
      p.col-title.mb-4 = t('pages.stations.show.title')

      = bootstrap_form_with model: [@observers_station], method: :post do |f|
        = f.hidden_field :station_id, value: @station.id
        .selector-wrapper
          = f.select :public_organization_id,
                  @orgs.collect {|o| [o.name, o.id]}.push([t('cabinet.public_organizations.other'), nil]),
                  {include_blank: false, include_hidden: false, selected: current_user.public_organization_id},
                  class: 'selector'
        .custom-file-browse
          = f.file_field :certificate
        label.checkbox-wrapper
          input.checkbox-custom[name="observers_station[certification_request]" type="checkbox" checked]
          span.checkmark
          | Отправить запрос на получение удостоверения
        .certification-info-block
          a.certification-info-link.custom-link[href="#{ENV['OBSERVER_CERTIFICATION_INFO_LINK']}" target="_blank"]
            = t('pages.stations.show.link_certification_info_page')
        .text-center
          = f.submit t('admin.buttons.send'), class: 'button button-primary submit_observers_station'
