.election-nav
  #election-options.nav.nav-tabs.btn-group.btn-group-toggle
    = link_to 'Общее', admins_election_path(election), class: "nav-link #{'active' if active_controller?('admins/elections')}"
    = link_to 'Избирательные округи', admins_election_electoral_districts_path(election), class: "nav-link #{'active' if active_controller?('admins/elections/electoral_districts')}"
    = link_to 'Кандидаты', admins_election_candidates_path(election), class: "nav-link #{'active' if active_controller?('admins/elections/candidates')}"
    = link_to 'УИК', admins_election_stations_path(election), class: "nav-link #{'active' if active_controller?('admins/elections/stations')}"
