nav.navbar-default.navbar-static-side role="navigation"
  .sidebar-collapse
    ul#side-menu.nav.metismenu
      li.nav-header
        .dropdown.profile-element
          a.dropdown-toggle data-toggle="dropdown" href="#"
            span.clear
              span.block.m-t-xs
                strong.font-bold Open Elections
              span.text-muted.text-xs.block
                | Admin
        .logo-element
          | IN+
      li[class=active_controller?('admins/dashboard')]
        = link_to admins_root_path do
          i.fa.fa-th-large
          span.nav-label Dashboard
      li [class=active_controller?('admins/election_groups')]
        = link_to admins_election_groups_path do
          i.fa.fa-list
          span.nav-label = t('admin.pages.election_groups.index.title')
      li[class=active_controller?('admins/elections')]
        = link_to admins_elections_path do
          i.fa.fa-user
          span.nav-label = t('admin.pages.elections.index.title')
      li[class="#{active_controller?('admins/public_organizations') || active_controller?('admins/public_organizations/users')}"]
        = link_to admins_public_organizations_path do
          i.fa.fa-sitemap
          span.nav-label = t('admin.pages.public_organizations.index.title')
