doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
    meta[charset="utf-8"]
    meta[content="width=device-width, initial-scale=1.0" name="viewport"]
    meta[content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"]

    title Rails Starter Kit | Admin Panel

    meta[content="" name="description"]
    meta[content="width=device-width, initial-scale=1" name="viewport"]

    = csrf_meta_tags
    = Gon::Base.render_data
    = stylesheet_link_tag 'admins', media: 'all'
    = javascript_include_tag 'admins'

  body
    = toastr_flash

    #wrapper
      = render 'shared/admins/navbar'

    #page-wrapper.gray-bg
      = render 'shared/admins/topnav'

      .wrapper.wrapper-content
        .row
          .col-lg-12
            = yield

      = render 'shared/admins/footer'
