doctype html
html.no-js[lang=""]
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
    meta[charset="utf-8"]
    meta[content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"]

    title Adil Saylau

    meta[content="Election Observation" name="description"]
    meta[name="theme-color" content=SiteSettingsHelper::THEME_COLOR]
    meta[content="width=device-width, initial-scale=1" name="viewport"]
    link[rel="icon" href="icons/icon-192x192.png"]
    link[rel="apple-touch-icon" href="icons/icon-192x192.png"]
    link[rel="apple-mobile-web-app-status-bar" content=SiteSettingsHelper::THEME_COLOR]

    = render 'shared/translations'
    = render 'shared/yandex_maps'

    = csrf_meta_tags
    = Gon::Base.render_data
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  body
    #loading-overlay.d-flex.justify-content-center.align-items-center
      i.fa.fa-spinner.fa-spin
    .content-wrapper.overflow-scroll
      = toastr_flash
      header#navigation.bg-w
        .container.no-padding
          .row.d-flex.m-0.p-0.justify-content-center
            .col-sm-6.no-padding
              = render 'shared/top_navbar'
      main.container[role="main"]
        = yield
      - unless @page_speed_insights
        = render 'shared/yandex_metrika'
