doctype html
html.no-js[lang=""]
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
    meta[charset="utf-8"]
    meta[content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"]

    title Adil Saylau | Cabinet

    meta[content="" name="description"]
    meta[content="width=device-width, initial-scale=1" name="viewport"]

    = csrf_meta_tags
    = Gon::Base.render_data
    = stylesheet_link_tag 'cabinet'
    = javascript_include_tag 'cabinet'

  body
    #loading-overlay.d-flex.justify-content-center.align-items-center
      i.fa.fa-spinner.fa-spin
    = toastr_flash
    = render 'shared/cabinet/top_navbar'

    .container-fluid
      .row
        = render 'shared/cabinet/navbar'
