doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
    meta[charset="utf-8"]
    meta[content="width=device-width, initial-scale=1.0" name="viewport"]
    meta[content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"]

    title Adil Saylau

    meta[content="" name="description"]
    meta[content="width=device-width, initial-scale=1" name="viewport"]

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  body
    = toastr_flash

    main.container[role="main"]
      .mt-4
        = yield
