- if @candidates&.any?
  - @candidates.each do |cc|
    h5 = cc.name
    input[id="closing_protocol_candidates_closing_protocols_attributes__candidate_id_#{cc.id}" value="#{cc.id}" type="hidden" name="closing_protocol[candidates_closing_protocols_attributes][][candidate_id]"]
    .form-group
      input[class="form-control input"id="closing_protocol_candidates_closing_protocols_attributes__votes_#{cc.id}" type="number" value="0" name="closing_protocol[candidates_closing_protocols_attributes][][votes]"]
