#protocol_wizard.h-100
  = bootstrap_form_with(model: @protocol, html: {id: 'protocol_upload', class: 'h-100 pos-rel'}) do |f|
    // step 0
    h5.mb-3 Выбор участка
    fieldset.mb-100
      - if @current_station
        small Ваш текущий участок
        p = "#{@current_local_area.region.name}, #{@current_local_area.name}, #{@current_station.name}"
        .selector-wrapper
          = f.select :local_area_id,
                  @local_areas.collect { |l| [l.name, l.id] },
                  {include_blank: false, include_hidden: false, selected: @current_local_area.id},
                  {id: 'protocol_select_area', class: 'selector'}
        .selector-wrapper
          = f.select :station_id,
                  @current_local_area.stations.collect { |s| [s.name, s.id] },
                  {include_blank: false, selected: @current_station.id},
                  {id: 'protocol_select_station', class: 'selector'}
        small Вы можете сменить участок в текущем регионе
      - else
        .mb-3
          small Вы не прикреплены к участку
        .selector-wrapper
          = f.select :region_id,
                  @regions.collect { |r| [r.name, r.id] },
                  {include_blank: false},
                  {id: 'protocol_select_region', class: 'selector'}
        .selector-wrapper
          = f.select :local_area_id,
                  @local_areas.collect { |l| [l.name, l.id] },
                  {include_blank: false},
                  {id: 'protocol_select_area', class: 'selector'}
        .selector-wrapper
          = f.select :station_id,
                  @stations.collect { |s| [s.name, s.id] },
                  {include_blank: false},
                  {id: 'protocol_select_station', class: 'selector'}
    // step 1
    h5.mb-3 Выборы
    fieldset.mb-100
      .selector-wrapper.no-label
        = f.select :election_id,
                Election.order(:id).collect { |e| [e.name, e.id] },
                {include_blank: false},
                {id: 'protocol_select_election', class: 'selector'}
    // step 2
    h5.mb-3 Данные по избирателям
    fieldset.mb-100
      #closing_protocol_voters_form
        = f.number_field :total_voters, class: 'voters-field input', id: 'closing_protocol_total_voters'
        = f.number_field :active_voters, class: 'voters-field input', id: 'closing_protocol_active_voters'
        = f.number_field :absentee_certificate_voters, class: 'voters-field input', id: 'closing_protocol_absentee_certificate_voters'
        = f.number_field :outdoors_voters, class: 'voters-field input', id: 'closing_protocol_outdoors_voters'
    // step 3
    h5 Кандидаты
    fieldset.mb-100
      .mb-3
        small Количество голосов за каждого кандидата
      #closing_protocol_candidates_form
        = render 'candidates'
    // step 4
    h5.mb-3 Данные по бюллетеням
    fieldset.mb-100
      #closing_protocol_bulletins_form
        = f.number_field :total_bulletins, class: 'bulletins-field input', id: 'closing_protocol_total_bulletins'
        = f.number_field :voters_bulletins, class: 'bulletins-field input', id: 'closing_protocol_voters_bulletins'
        = f.number_field :invalid_bulletins, class: 'bulletins-field input', id: 'closing_protocol_invalid_bulletins'
        = f.number_field :canceled_bulletins, class: 'bulletins-field input', id: 'closing_protocol_canceled_bulletins'
    // step 5
    h5.mb-3 Загрузка протокола закрытия
    fieldset.mb-100
      .form-group
        label[for="closing_protocol_images"]
          | Фотографии протокола
        .custom-file
          input#closing_protocol_images[class="custom-file-input required input" multiple="multiple" type="file" name="images[]"]
          label.custom-file-label[for="closing_protocol_images"]
            | Выбрать фотографии
        .files-count-info
    // step 6
    h5.mb-3 Отправка
    fieldset.mb-100
      #finish_protocol_upload

