.row
  .col-sm-12#result_wrapper
    - if result.success?
      i.fa.fa-check-circle[style="color: green;"]
      h3.text-success Протокол отправлен
    - else
      i.fa.fa-check-circle[style="color: red;"]
      h3.text-danger Не удалось отправить протокол
      p = result.message
