= render 'shared/modal', title: 'Ошибки формы', id: 'closing_protocol_errors_modal' do
  .row
    .col-md-12
      #closing_protocol_form_errors
        ol
          li.d-none[data-message="bulletins"]
            p.text-danger = t('errors.closing_protocol.invalid_bulletins_message')
          li.d-none[data-message="voters"]
            p.text-danger = t('errors.closing_protocol.invalid_voters_message')
          li.d-none[data-message="bulletinsTotal"]
            p.text-danger = t('errors.closing_protocol.invalid_total_bulletins_message')
  hr
  .row
    .col-md-12.d-flex.justify-content-end
      #closong_protoco_errors_actions
        = link_to 'Изменить', '#', class: 'btn btn-sm btn-warning close-invalid-form-modal m-1'
        = link_to 'Отправить', '#', class: 'btn btn-sm btn-success submit-invalid-form-modal m-1'
