@font-face {
  font-family: 'Roboto-Regular';
  src: asset_url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: asset_url('Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
