#loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,0.5);
  visibility: hidden;
}

#loading-overlay > i {
  font-size: 40px;
  color: rgba(60,64,67,1.0);
}
