= bootstrap_form_with model: [:admins, @election, @candidate] do |f|
  = f.select :election_id, Election.order(:name).collect { |e| [e.name, e.id] }, {include_blank: false, include_hidden: false}
  = f.text_field :name, required: true
  = f.text_field :info
  = f.submit t('admin.buttons.save'), class: 'btn btn-primary', id: 'btn-save'
