= render 'shared/admins/box', title: @election.name do
  = link_to t("admin.buttons.add"), new_admins_election_candidate_path(@election), class: 'btn btn-primary'
  = render 'shared/admins/election_nav', election: @election

  table#candidates.table.table-striped.table-bordered.table-hover
    thead
      tr
        th ID
        th = t('admin.pages.elections.show.name')
        th = t('admin.pages.elections.show.info')
        th = t('activerecord.models.electoral_district')
        th = t('admin.buttons.actions')
    tbody
      - @candidates.each do |candidate|
        tr
          td = candidate.id
          td = candidate.name
          td = candidate.info
          td = full_district_name(candidate.electoral_district)
          td.actions
            = link_to edit_admins_election_candidate_path(@election, candidate), id: "edit-candidate-#{candidate.id}", class: "btn btn-warning"
              i.fa.fa-pencil
            = link_to [:admins, @election, candidate], method: :delete,
                    id: "btn-remove-election-candidate-#{candidate.id}",
                    class: 'btn btn-danger',
                    data: {confirm: t('admin.buttons.delete_confirm')}
              i.fa.fa-trash
